body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(dpspic4.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    position:absolute;
    margin:0;
    padding:0;
    font-family:Verdana, sans-serif;
    box-sizing:border-box;
    color:white;
}

.navbar{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 220px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;   
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width:100%
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h2{
    font-size: 45px;
    margin-top: 80px;
}

.content p{
    font-size: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position:relative;
    overflow: hidden;
}

.content span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:0.5s;
}

.content button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.before-bottom{
    padding-bottom:475px;
}

#bottom{
    padding-top:25px;
    padding-bottom:100px;
}

.contact-form{
    width:380px;
    height:480px;
    position:relative;
    line-height:15px;
    margin:2% auto;
    background:rgba(218, 202, 64, 0.3);
    padding-top:10px;
    padding-bottom:10px;
    overflow:hidden;
    color:white;    
    /* position:absolute; */
    transition:0.5s;
}

.row {
    display: flex;
    justify-content: center;
    padding-top:30px;
    }