.login{
	margin: 20px 200px;
	width: 450px;
	padding: 10%;
}
.Form{
	z-index: 1;
	position: relative;
	background: transparent;
	max-width: 450px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	height: 100%;
}
.Form input{
	font-family: montserrat, sans-serif;
	padding: 15px;
	font-size: 20px;
	width: 100%;
	outline: 1;
	margin: 0 0 15px;
	box-sizing: border-box;
	border: 5px;
	background: floralwhite;
	color: black;
}
.Form button{
	font-family: montserrat, sans-serif;
	padding: 15px;
	font-size: 20px;
	width: 100%;
	color: black;
	text-transform: uppercase;
	background: gold;
	cursor: pointer;
}
.Form .message{
	font-family: montserrat, sans-serif;
	font-size: 17px;
	color: aliceblue;
	margin: 15px 0 0;
}
.Form button:hover, .Form button:active{
	background: #43A047;
}
.Form .message a{
	color: ivory;
	text-decoration: none;
}
.Form .SignUp_Form{
	display: none;
}
