<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>PATIENT CHARGES PREDICTION</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}"> -->
        <link rel="stylesheet" href="{% static 'pkn/css/style.css' %}" type="text/css">
    </head>

    <body>
        <div class="banner">
            <div class="navbar">
                <a href="{% url 'home' %}"></a>
                    <img src="{% static 'pkn/Images/dpspic5.png' %}" class="logo" alt="Logo" >
                </a>
                <h3 style="border:red; border-width:3px; border-style:solid;color:white">HELPLINE: 1091</h3>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'services' %}">About</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href='#bottom'>Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
                <h2>PATIENT MEDICAL CHARGES<br>CALCULATOR</h2>
                <p>Welcome to the patients' portal of medical expenses.</p>
                <div>
                    <a href="{% url 'login' %}">
                        <button type="button"><span></span>LOG IN / SIGN UP</button>
                    </a>
                    <a href="{% url 'services' %}">
                        <button type="button"><span></span>EXPLORE MORE</button>
                    </a>
                </div>
        </div>
        
        <div class="before-bottom"></div>
            
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
        <div id="bottom" name="bottom">

            <div style="text-align:center">
                <h2>Contact Us</h2>
                <p>Swing by for a cup of coffee, or leave us a message:</p>
              </div>

            <form method="POST" onsubmit="return verify()" id="contact-form" class="contact-form" style="line-height: 30px; text-align: center;" action="{% url 'contacting' %}">
                {% csrf_token %}
                
                <label for="contact_name">First Name</label><br>
                <input type="text" id="contact_name" name="contact_name" placeholder="Your name.." style="width:250px">
                <br>
                <label for="contact_mail">Email ID</label><br>
                <input type="email" id="contact_mail" name="contact_mail" placeholder="Your E-mail ID.." style="width:250px">
                <br>
                <label for="country">Country</label><br>
                <input type="text" id="country" name="country" placeholder="Your Country.." style="width:250px">
                <br>
            
                <label for="subject">Subject</label><br>
                <textarea id="subject" name="subject" placeh
                older="Write something.." style="height:200px;width:250px"></textarea>
                <br>
                <input type="submit" style="width:150px; cursor:pointer; background-color:black; color:white;">
            </form>

            <div class="row">
                <a href="https://www.facebook.com/">
                    <img src="{% static 'pkn/Images/fb-removebg-preview.png' %}" alt="Facebook" style="width:45px;height:45px">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="{% static 'pkn/Images/download-removebg-preview.png' %}" alt="Instagram" style="width:70px;height:50px">
                </a>
                <a href="https://mail.google.com">
                    <img src="{% static 'pkn/Images/mail1-removebg-preview.png' %}" alt="E-mail" style="width:50px;height:50px">
                </a>
                <a href="https://www.linkedin.com/">
                    <img src="{% static 'pkn/Images/l-removebg-preview.png' %}" alt="LinkedIn" style="width:50px;height:50px">
                </a>
            </div>
        

        </div>

        <script>
        function verify() {
        var cn = document.getElementById("contact_name").value;
        var cm = document.getElementById("contact_mail").value;
        var co = document.getElementById("country").value;
        var su = document.getElementById("subject").value;
        //check empty password field
        if(cn == "" || cm== "" ||  co=="" || su=="") {
            document.getElementById("message3").innerHTML = "**Fill the password please!";
            return false;
        }
    }
        </script>

    </body>
</html>
